<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= link_to root_path do %>
        <%= image_tag 'genix.png', class: 'img-carrousel' %>
      <% end %>
    </div>
    <div class="carousel-item">
      <%= link_to root_path do %>
        <%= image_tag 'w4f.png', class: 'img-carrousel' %>
      <% end %>
    </div>
    <div class="carousel-item">
      <%= link_to root_path do %>
        <%= image_tag 'travelist.png', class: 'img-carrousel' %>
      <% end %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script>
  // Enable automatic sliding of the carousel
  $(document).ready(function () {
    $('#carouselExample').carousel({
      interval: 3000 // Adjust the interval (in milliseconds) as needed
    });
  });
</script>
