<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= link_to products_path do %>
        <%= image_tag 'carrousel-1.jpg', class: 'img-carrousel' %>
      <% end %>
    </div>
    <div class="carousel-item">
      <%= link_to products_path do %>
        <%= image_tag 'carrousel-2.jpg', class: 'img-carrousel' %>
      <% end %>
    </div>
    <div class="carousel-item">
      <%= link_to products_path do %>
        <%= image_tag 'carrousel-3.jpg', class: 'img-carrousel' %>
      <% end %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
