<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-between w-100">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'ezmats.png', class: 'navbar-brand' %>
    <% end %>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class='nav-item'>
            <%= cart_total_quantity %>
              <%= link_to carts_path, class: "navbar-brand" do %>
                <i class="fa-solid fa-cart-shopping fa-lg" style="color: #343434;"></i>
              <% end %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.key? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", width: 40, height: 40, crop: "fill", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, 'aria-label': "Toggle navigation" %>
            <% else %>
              <%= image_tag "meerkat.webp", class: "avatar dropdown-toggle py-1", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
        <li class='nav-item'>
            <%= cart_total_quantity %>
              <%= link_to carts_path, class: "navbar-brand" do %>
                <i class="fa-solid fa-cart-shopping fa-lg" style="color: #343434;"></i>
              <% end %>
        </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="fa-solid fa-user fa-lg" style="color: #343434;"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
<div class="search-bar">
  <%= form_with url: search_products_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :search_term,
          params[:search_term],
          class: "form-control",
          placeholder: "Search for products..."
    %>
    <%= button_tag(type: 'submit', class: 'btn-search') do %>
      <i class="fas fa-search" style="color: #343434;"></i>
    <% end %>
  <% end %>
</div>


