<!-- HTML structure -->
<div class="button-container">
  <%= link_to "Schools", schools_path, class: "btn btn-info product" %>
  <!-- <%= link_to "Products", products_path, class: "btn btn-info categories" %> -->
  <%= link_to "Categories", categories_path, class: "btn btn-info categories" %>
  <!-- Top horizontal menu -->
  <% @categories = Category.all %>
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category), class: "btn btn-info categories" %>
  <% end %>
</div>

<div class="search-address-container btn btn-info" data-controller="delivery-address">
  <button data-delivery-address-target='button' class='btn-delivery-address' data-action='click->delivery-address#open'>Select delivery address</button>

  <form data-delivery-address-target='form' data-action='submit->delivery-address#submit' class='d-none'>
    <input type="text" data-delivery-address-target='input' placeholder="Enter Zip Code">
    <button type='submit' class='btn-delivery-address'>Submit Zip Code</button>
  </form>
  <div data-delivery-address-target="address"></div>
</div>

<%= render "shared/carrousel" %>

<% @categories.each_with_index do |category, index| %>
  <div class="sub-categories-name">
    <%= link_to category.name, category_path(category), class:'h2' %>
  </div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?<%= category.name %>);">
  </div>
  <div class="product-grid">
    <% @products = category.products.limit(4) %>
    <% @products.each do |product| %>
      <!-- Product Card -->
      <div class="product-card">
        <!-- Product Image -->
        <div class="product-image-container">
          <% if product.photo.key? %>
            <%= cl_image_tag product.photo.key, class: "product-image" %>
          <% else %>
            <%= image_tag "product_placeholder.png", class: "product-image" %>
          <% end %>
        </div>
        <!-- Product Details -->
        <div class="product-info">
          <h4><%= product.name %></h4>
          <h3><i class="fa-solid fa-piggy-bank"></i> <%= humanized_money_with_symbol(product.price) %></h3>
          <%= link_to "View Details", product_path(product), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <% if (index + 1) % 2 == 0 %>
    <%= render "shared/carrousel_ads" %>
  <% end %>
<% end %>
