<div class="button-container">
  <%= link_to "Schools", schools_path, class: "btn btn-info" %>
  <%= link_to "Products", products_path, class: "btn btn-info" %>
  <%= link_to "Categories", categories_path, class: "btn btn-info" %>
  <%= link_to "Categories", categories_path, class: "btn btn-info" %>
  <%= link_to "Categories", categories_path, class: "btn btn-info" %>
  <%= link_to "Categories", categories_path, class: "btn btn-info" %>
  <%= link_to "Categories", categories_path, class: "btn btn-info" %>

</div>


<%= render "shared/carrousel" %>
