<div class="container">
  <h1>Your Profile</h1>
  <div class="row">
    <div class="col-md-6">
      <!-- User Information -->
      <h2>User Information</h2>
      <p><strong>First Name:</strong> <%= current_user.first_name %></p>
      <p><strong>Last Name:</strong> <%= current_user.last_name %></p>
      <p><strong>Address:</strong> <%= current_user.address %></p>
      <p><strong>Phone:</strong> <%= current_user.phone %></p>
      <!-- User Photo -->
      <% if current_user.photo.present? %>
        <%= image_tag current_user.photo.url, class: 'user-photo' %>
      <% else %>
        <%= image_tag 'default_user_photo.jpg', class: 'user-photo' %>
      <% end %>
    </div>
    <div class="col-md-6">
      <!-- Purchase History -->
      <h2>Purchase History</h2>

    </div>
  </div>
</div>
