<div class="cards">
  <!-- Display order products here -->
    <div class="product-name">
      <h1 class= "table-head"><strong>Your Order</strong></h1>
    </div>
  <div class="product-container-checkout pe-2">
    <table>

      <div class="product-details">
        <% subtotal = 0.0 %>
        <div class="row">
          <div class="col-4">
            <strong>Product Name</strong>
          </div>
          <div class="col-2 d-flex justify-content-start">
            <strong>Quantity</strong>
          </div>
          <div class="col-3 d-flex justify-content-end">
            <strong>Price</strong>
          </div>
          <div class="col-3 d-flex justify-content-end">
            <strong>Subtotal</strong>
          </div>
        </div>
      </div>

      <% @cart_items.each do |item| %>
        <div class="row">
          <div class="col-4">
            <%= item.product.name %>
          </div>
          <div class="col-2 d-flex justify-content-end">
            <%= item.quantity %>
          </div>
          <div class="col-3 d-flex justify-content-end">
            $<%= item.product.price.to_f %>
          </div>
          <div class="col-3 d-flex justify-content-end">
            <%= humanized_money_with_symbol(item.total * 100) %>
          </div>
        </div>
              <% subtotal += item.quantity * item.product.price.to_f %>
      <% end %>

      <div class="row">
          <div class="col-12 d-flex justify-content-end">
            <strong> <%= humanized_money_with_symbol(subtotal) %></strong>
          </div>
        </div>

    </table>
  </div>

  <div class="back-to-cart-button">
    <%# <%= link_to 'Finish order', new_order_payment_path(), class: 'btn btn-primary' %>
    <%= form_tag orders_path do %>
      <%= hidden_field_tag 'cart_id', @cart.id %>
      <%= submit_tag 'Finish order', class:"btn btn-primary" %>
    <% end %>
  </div>
</div>

  <div class="back-to-cart-button">
    <%= link_to 'Back to Cart', cart_path(@cart), class: 'btn btn-primary' %>
  </div>
</div>
