<div class="sub-categories-title">
  <h1><%= @category.name %></h1>
</div>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <!-- Product Card -->
        <div class="card-product">
          <!-- Product Image -->
          <div class="product-image-container">
            <% if product.photo.key? %>
              <%= cl_image_tag product.photo.key, class: "product-image" %>
            <% else %>
              <%= image_tag "product_placeholder.png", class: "product-image" %>
            <% end %>
          </div>
          <!-- Product Details -->
          <div class="product-info">
            <h2><%= product.name %></h2>
            <!-- Truncated Description -->
            <div class="product-description">
              <%= product.description %>
            </div>
            <!-- Read More Link -->
            <a href="#" class="read-more-link">Read More</a>
            <h1> $<%= product.price.to_f / 100 %></h1>
            <%= link_to "View Details", product_path(product), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
