<%# <div class="body"> %>
  <div class="cards">
        <div class="product-name">
          <h1><%= @product.name %></h1>
        </div>
    <div class="card-product">
      <div class="product-container">
          <% if @product.photo.key? %>
            <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag "product_placeholder.png", id: "product_image" %>
          <% end %>
        <div class="product-details">
            <h1><strong>Price: </strong> <%= humanized_money_with_symbol(@product.price) %> </h1>
            <p><strong>Name:</strong> <%= @product.name %> </p>
            <p><strong>Product Type:</strong> <%= @product.category_id %> </p>
          <div class="product-description">
            <p><strong>Description:</strong> <%= @product.description %> </p>
          </div>
        </div>
        <div class="product-button">

            <%# <% cart = Cart.find_by(user_id:current_user.id, product_id:@product.id) %>
            <%= link_to "Add to cart", product_cart_items_path(@product), data: {turbo_method: :post}, class: "btn btn-primary add-button" %>

          <%# buy now %>
          <%= link_to 'Buy now', buy_product_product_path(@product), data: {turbo_method: :post}, class: "btn btn-primary add-button" %>

        </div>

      </div>
    </div>
  </div>
<%# </div> %>
