<div class="cards" data-controller="share" data-share-url-value="<%= product_url(@product) %>">
  <div class="sub-categories-description">
    <h1 data-share-target="title"><%= @product.name %></h1>
  </div>
  <div class="card-product">
    <div class="product-container">
      <% if @product.photo.key? %>
        <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "product_placeholder.png", id: "product_image" %>
      <% end %>
      <div class="product-details">
        <h1><strong>Price: </strong> <%= humanized_money_with_symbol(@product.price) %> </h1>
        <p><strong>Name:</strong> <%= @product.name %> </p>
        <p><strong>Category:</strong> <%= @product.category.name %> </p>
        <div class="product-description" data-share-target="body">
          <p><strong>Description:</strong> <%= @product.description %> </p>
        </div>
      </div>
    </div>
  </div>
  <div class="product-button">
    <%= link_to "Add to cart", product_cart_items_path(@product), data: { turbo_method: :post }, class: "btn btn-primary add-button" %>
    <%= link_to 'Buy now', buy_product_product_path(@product), data: { turbo_method: :post }, class: "btn btn-primary buy-now-button" %>
    <br>
    <button data-action="click->share#share" class="btn btn-primary buy-now-button"><i class="fa-solid fa-arrow-up-from-bracket"></i>
 Share</button>
  </div>
</div>
