
  <div class="cards">
    <div>
      <div class="product-container">
        <div class="product-name">
          <h1><%= @product.name %></h1>
        </div>
          <%= image_tag "product_placeholder.png", id: "product_image" %>
        <div class="product-details">
          <h1><strong>Price: $ </strong> <%= @product.price %>
          <p><strong>Name:</strong> <%= @product.name %> </p>
          <p><strong>Product Type:</strong> <%= @product.category_id %> </p>
        </div>
        <div class="product-button">
          <%# add to cart  - fazer com simple form %>
          <%# <input class="btn btn-primary add-button" type="submit" value="Add to cart" name="commit"> %>
          <a class="btn btn-primary add-button" href=>Add to cart</a>

          <%# buy now %>
          <a class="btn btn-primary buy-button" href=>Buy now</a>
        </div>
        <div class="product-description">
          <p><strong>Description:</strong> <%= @product.description %> </p>
        </div>
      </div>
    </div>
  </div>
