<!DOCTYPE html>
<html>
  <head>
    <title>MaterialFacil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;1,200&family=Inconsolata:wght@300&family=Inter:wght@200&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body class="body"><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
    <%= render "shared/footer" %>

    <% if controller_name.in?(%w(categories lists products schools)) && action_name.in?(%w(index show search))%>

    <div
      data-controller="arrow-back"
      data-action="click->arrow-back#goBack"
      class="back-button"
    >
      <i class="fa-solid fa-angle-left"></i>
    </div>

  <% end %>

  <%# <script>
    function goBack() {
      window.history.back();
    }
  </script> %>
  </body>
</html>
